<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 nav-item">
                    <a href="/"><i class="fas fa-home fa-2x"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4 class="main-title"><%= title %></h4>
                </div>
            </div>